<!-- Normal Input -->
<label for="simple">Simple Input</label>
<input href="#" id="simple" type="text">

<!-- Input Group -->
<div class="input-wrap">
	<label for="name">Name</label>
	<input type="text" id="name" placeholder="Your Name">
	<p class="input-wrap__info-tip">Info Tip Here</p>
	<p class="input-wrap__error-msg"></p>
</div>

<!-- Input Group -->
<div class="input-wrap input-wrap--has-error">
	<label for="email">Email</label>
	<input type="text" id="email" placeholder="Your Email">
	<p class="input-error__info-tip">Info Tip Here</p>
	<p class="input-wrap__error-msg">Error Message Here</p>
</div>



<label>Text Area</label> 
<textarea placeholder="Placeholder"></textarea>


<div class="input-wrap">
	<input type="radio" id="radio-1" name="radio">
	<label for="radio-1">Radio Choice 1</label>  	

	<input type="radio" id="radio-2" name="radio">
	<label for="radio-2">Radio Choice 2</label>  	
</div>

<div class="input-wrap">
	<input type="checkbox" id="male-and-female2" name="gender">
	<label for="male-and-female2">All</label>  	
</div>

<div class="input-group input-group--switch-button">
	<input type="checkbox" id="switch" name="switch">
	<label for="switch"></label>             
</div>
