<header class="main-header {% if include.header-extra-style != null %} {{ include.header-extra-style }} {% endif %}"  role="banner">

  <div class="container">

    <div class="columns main-header__content">

      <div class="column is-3">
        {% if include.header-extra-style != null %}
            <a class="site-title" href="{{ "/" | relative_url}}"><img src="/assets/images/logo.png" alt=""></a>
        {% else %}
            <a class="site-title" href="{{ "/" | relative_url}}"><img src="/assets/images/logo-main.png" alt=""></a>
        {% endif %}
        
      </div>

      <div class="column is-9 nav-container">
        
        <nav class="site-nav">

          <div class="trigger">
          {% assign pages = site.pages | sort:"weight"  %}
            {% for my_page in pages %}
              {% if my_page.title %}
              <a class="page-link {% if page.url == my_page.url %} active {% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {% endif %}
            {% endfor %}
            <a class="page-link {% if page.url == my_page.url %} active {% endif %}" href="mailto:mahmoudilyan@gmail.com?Subject=Hello"> Contact</a
          </div>
        </nav>


      </div>

    </div>




  </div>

</header>
