// Colors Variables 

// BrightColors
$color-bg-light1:						#F5F8FA;
$color-bg-light2:						#D3D4D8;
$color-bg-light3:						#F9FAFA;

// DarkColors
$color-bg-dark1:						#082638;
$color-bg-dark2:       					#465A77;
$color-bg-dark3:   						#2B3749;

// Typography Colors
$color-typography1:						#293137;
$color-typography2:						#6C7A89;
$color-typography3:						#D3D4D8;


// Primary Colors
$color-primary-base :   				#3498DB;
$color-primary-second:					#82A0BC;

// Secondary Colors
$color-cta-base:	 					#E83351;

// Notifications Colors
$color-notification-danger: 			#E13A3A;
$color-notification-danger-bright:		#FEEEF0;
$color-notification-warning:			#F9D294;
$color-notification-warning-bright: 	#FEFAF3;
$color-notification-success: 			#93D5BE;
$color-notification-success-bright: 	#F6FCFA;
$color-notification-info:				#19B5FE;
$color-notification-info-brigth:		#F1FBFF;

// Spacing Variables 
$spacing-base-number: 					4px ;

