$font-proxima	: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-dosis		: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-nunito	: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
// Line-Height

$line-height-h1:  40px;
$line-height-h2:  28px;
$line-height-h3:  24px; 
$line-height-h4:  24px;
$line-height-h5:  20px;
$line-height-h6:  20px;
$line-height-p:   24px;


// Sizes
$fontSize-h1:     24px;
$fontSize-h2:     20px;
$fontSize-h3:     18px;
$fontSize-h4:     18px;
$fontSize-h5:     14px;
$fontSize-h6:     13px;
$fontSize-p:      16px;



